.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding: 16px 50px;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border: 1px solid;
  cursor: pointer;
  text-decoration: none; /* Linkの場合に下線を消す */
}

.primary {
  background-color: var(--color-foreground);
  color: var(--color-background);
  border-color: var(--color-foreground);
}

.primary:hover {
  background-color: var(--color-background);
  color: var(--color-foreground);
  border-color: var(--color-foreground);
}

.secondary {
  background-color: var(--color-background);
  color: var(--color-foreground);
  border-color: var(--color-foreground);
}

.secondary:hover {
  background-color: var(--color-foreground);
  color: var(--color-background);
  border-color: var(--color-foreground);
}
